/* Common */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa',苹方,雅黑;
}

*:focus {
    border: none;
    outline: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    background-color: #040744;
}

.sosconf-app {
    background: url(../images/Background.jpg) no-repeat;
    background-color: #f3f3f3;
    background-size:  100%;
    background-attachment: fixed;
}

/* Header */
@media screen and (min-width: 1050px) {
    .sosconf-header {
        height: 5vh;
        background: black;
        color: white;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }   
    .sosconf-header--pop {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }   
} @media screen and (max-width: 1050px) {
    .sosconf-app {
        background: url(../images/Background.jpg) no-repeat;
        background-color: #f3f3f3;
        background-size:  250%;
        background-attachment: fixed;
    }
    .sosconf-header {
        min-height: 5vh;
        background: black;
        color: white;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }   
}

/* Body */
.sosconf-body {
    height: auto;
    padding-top: 5vh;
}

/* Footer */
.sosconf-footer {
    height: 180px;
    background: rgb(7, 7, 22);
}

@media screen and (min-height: 1280px) { 
    .sosconf-body {
        min-height: 2000px;
    }
}

    /* animate */
    .appAppear-appear{
    opacity: 0;
    transform: scale(0.5);
  }
  
  .appAppear-appear.appAppear-appear-active{
    opacity: 1;
    transform: scale(1);
    transition: 500ms ease-out;
  }
  
  /*设置进场前透明度为0，放缩为0*/
  
  .fade-enter {
    opacity: 0;
    transform: scale(0);
  }
  
  
  /*设置进场过程中 透明度为1，放缩为1，放缩的位置为左上角，持续时间为500ms，时间曲是ease-out */
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    /* transform-origin: top left; */
    transition: 800ms ease-out;
  }
  
  /*设置退场前透明度为1，放缩为1*/
  .fade-exit{
    opacity: 1;
    transform: scale(1);
  }
  
  /*设置退场过程中 透明度为0，放缩为0，放缩的位置默认是中间，所以不设置也可以，
  持续时间为500ms，时间曲是ease-out */
  .fade-exit.fade-exit-active{
    opacity:0;
    transform: scale(0);
    transition: 800ms ease-out;
  }
