/* Common */
* {
    margin: 0;
    padding: 0;
}

*:focus {
    border: none;
    outline: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    background-color: #040744;
}

.sosconf-app {
    background: url(../images/Background.svg) no-repeat;
    background-size:  100%;
}

/* Header */
@media screen and (min-width: 1050px) {
    .sosconf-header {
        height: 5vh;
        background: rgb(213, 246, 240);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }   
} @media screen and (max-width: 1050px) {
    .sosconf-header {
        min-height: 5vh;
        background: rgb(213, 246, 240);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }   
}

/* Body */
.sosconf-body {
    height: auto;
}

/* Footer */
.sosconf-footer {
    height: 180px;
    background: rgb(7, 7, 22);
}

@media screen and (min-height: 1280px) { 
    .sosconf-body {
        min-height: 2000px;
    }
}
