@media screen and (min-width: 1050px) {
    .sosconf-footer__wrap {
        color: white;
        height: 100%;
    }

    .sosconf-footer__logo_wrap {
        width: 300px;
        height: 100%;
        float: left;
    }

    .sosconf-footer__left-logo {
        background: url(../images/Logo_full.svg);
    }

    .sosconf-footer__left-logo {
        position: relative;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        width: 200px;
        height: 100px;
        background-size: 200px 100px;
    }

    .sosconf-footer__copyleft {
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

    .sosconf-footer__middle-buttons {
        display: flex;
        justify-content: center;
    }

    .sosconf-footer__middle-button {
        width: 32px;
        height: 32px;
        margin-top: 24px;
        display: inline-block;
        /* margin-right: 10px; */
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    .sosconf-footer__links {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .sosconf-footer__middle-button-wrapper {
        width: 80px;
        text-align: center;
        height: 80px;
    }

    .sosconf-footer__middle-button:hover {
        transform: scale(1.4);
        transition: all .5s;
        /* background-color: black; */
    }

    .sosconf-footer__middle-telegram {
        background: url("../images/Logo_Telegram_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-button--openingsource {
        background: url("../images/Logo_openingsource-nano_v2.svg");
    }

    .sosconf-footer__middle-mail {
        background: url("../images/Logo_Email_v2.svg");
    }

    .sosconf-footer__middle-facebook {
        background: url("../images/Logo_facebook\ _v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-twitter {
        background: url("../images/Logo_Twitter_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-flickr {
        background: url("../images/Logo_Flickr_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-youtube {
        background: url("../images/Logo_Youtube_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-weibo {
        background: url("../images/Logo_weibo_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-hexang {
        background: url("../images/Logo_Hexang_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-wechat {
        background: url("../images/Logo_WeChat_v2.svg");
        background-size: contain;
    }
} @media screen and (max-width: 1050px) {
    .sosconf-footer {
        padding-top: 180px;
    }

    .sosconf-footer__wrap {
        color: white;
        background: rgb(7, 7, 22);
    }

    .sosconf-footer__copyleft {
        text-align: center;
        padding-bottom: 50px;
    }

    .sosconf-footer__middle-buttons {
        text-align: center;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .sosconf-footer__links {
        text-align: center;
        margin-bottom: 20px;
    }

    .sosconf-footer {
        padding-top: 50px;
    }

    .sosconf-footer__middle-button-wrapper {
        width: 20%;
        margin-bottom: 20px;
        text-align: center;
    }

    .sosconf-footer__middle-button {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 5px;
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    .sosconf-footer__middle-button:hover {
        transition: all .5s;
    }

    .sosconf-footer__middle-button--openingsource {
        background: url("../images/Logo_openingsource-nano_v2.svg");
    }

    .sosconf-footer__middle-mail {
        background: url("../images/Logo_Email_v2.svg");
    }

    .sosconf-footer__middle-facebook {
        background: url("../images/Logo_facebook\ _v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-twitter {
        background: url("../images/Logo_Twitter_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-flickr {
        background: url("../images/Logo_Flickr_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-youtube {
        background: url("../images/Logo_Youtube_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-weibo {
        background: url("../images/Logo_weibo_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-hexang {
        background: url("../images/Logo_Hexang_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-wechat {
        background: url("../images/Logo_WeChat_v2.svg");
        background-size: contain;
    }

    .sosconf-footer__middle-telegram {
        background: url("../images/Logo_Telegram_v2.svg");
        background-size: contain;
    }
}
