.sosconf-header__button {
    box-sizing: border-box;
}

@media screen and (min-width: 1050px) {
    .sosconf-header__group-button-title--language span:nth-child(2) {
        display: inline-block;
        transition: all .2s;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color:transparent transparent rgb(0, 193, 145);
        position: relative;
    }

    .sosconf-header-mobile__active {
        display: none;
    }

    .sosconf-header-mobile {
        display: none;
    }

    .sosconf-header__wrap {
        height: 100%;
        position: relative;
    }

    .sosconf-header__logo {
        float: left;
        width: 150px;
        margin-left: 10px;
        height: 100%;
    }

    .sosconf-header__logo--svg {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        float: left;
        background: url(../images/Logo_sosconf-nano-white-1.svg);
    }

    .sosconf-header__logo--name {
        position: relative;
        top: 50%;
        left: 10px;
        float: left;
        transform: translateY(-50%);
    }

    .sosconf-header__logo--name-number {
        position: relative;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: rgb(1, 191, 144);
    }

    .sosconf-header__buttons {
        height: 100%;
        width: 50%;
        margin: 0 auto;
    }

    .sosconf-header__button {
        color: white;
        border: none;
        background: transparent;
        height: 100%;
        font-size: 14px;
        width: calc(100% / 8);
    }

    .sosconf-header__button:hover {
        transition: all .2s;
        border-bottom: 3px solid rgb(1, 191, 144);
    }

    .sosconf-header__button-group {
        width: calc(100% / 7);
        display: inline-block;
        height: 100%;
        overflow: visible;
        position: relative;
    }

    .sosconf-header__button-group:hover > .sosconf-header__gourp-drop-down {
        background: white;
        z-index: 1;
        /* left: 0; */
        text-align: center;
        /* width: 100%; */
        height: auto;
        border: none;
        transition: height .5s;
        top: 40px;
    }

    .sosconf-header__button-group:hover .sosconf-header__group-button {
        height: 30px;
        transition: all .5s;
        visibility: unset;
    }

    .sosconf-header__group-button-title--language,
    .sosconf-header__group-button-title--user {
        background: white !important;
        height: 30px !important;
        margin-top: 10px;
        border-radius: 5px;
    }

    .sosconf-header__group-button-title--user img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
    }

    .sosconf-header__group-button-title--user span:nth-child(3) {
        display: inline-block;
        transition: all .2s;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: transparent transparent rgb(0, 193, 145);
        position: relative;
    }

    .sosconf-header__group-button-title:hover {
        transition: all .2s;
    }

    .sosconf-header__group-button-title {
        display: inline-block;
        color: white;
        border: none;
        background: transparent;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
    }

    .sosconf-header__gourp-drop-down {
        position: fixed;
        top: -40px;
        height: 0;
        width: 0;
        border-radius: 5px;
        /* overflow: hidden; */
        /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); */
    }

    .sosconf-header__group-button {
        visibility: hidden;
        height: 0;
        min-width: 10%;
        width: 120px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        color: black;
    }

    .sosconf-header__group-button:nth-of-type(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .sosconf-header__group-button:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .sosconf-header__group-button:hover {
        background: rgb(6, 183, 133);
        transition: all .5s;
        color: white;
    }

    .sosconf-header-pc {
        height: 100%;
    }

    .sosconf-header__button-group--language{
        position: absolute;
        top: 1px;
        right: 15px;
        height: 50px;
        width: 120px;
    }

    .sosconf-header__button-group--user{
        position: absolute;
        top: 1px;
        right: 150px;
        height: 50px;
        width: 120px;
    }

    .sosconf-header__group-button-title--language {
        color: black;
    }

    .sosconf-header__group-button-title--user {
        color: black;
    }

    .sosconf-header__button-group--login {
        margin-top: 10px;
        position: absolute;
        top: 1px;
        float: right;
        width: 60px;
        height: 30px;
        right: 145px;
        background: transparent;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .sosconf-header__button-group--signin {
        margin-top: 10px;
        position: absolute;
        top: 1px;
        float: right;
        width: 60px;
        right: 215px;
        height: 30px;
        background: white;
        border-radius: 4px;
    }

    .sosconf-header__button-group--signin span {
        color: black;
    }

} @media screen and (max-width: 1050px) {
    .sosconf-header__wrap {
        /* height: 100%; */
    }

    .sosconf-header-pc {
        display: none;
    }

    .sosconf-header-mobile {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items:center;
    }

    .sosconf-header-mobile__logo {
        height: 100%;
        width: 20px;
        height: 20px;
        background: url(../images/Logo_sosconf-nano-white-1.svg);
    }

    .sosconf-header__logo--name {
        margin-left: 10px;
    }

    .sosconf-header__logo--name-number {
        margin-left: 5px;
        color: rgb(1, 191, 144);
    }

    .sosconf-header-mobile__active {
        background: white;
    }

    .sosconf-header-mobile__button {
        height: 40px;
        text-align: center;
        background: rgb(15, 15, 15);
        border: 0px solid rgb(215, 255, 199);
        color: white;
        width: 100%;
    }

    .sosconf-header-mobile__active {
        transition:max-height .5s ease-in-out;
        overflow: hidden;
    }

    
    .sosconf-header-mobile__button-group-buttons  button{
        height: 30px;
        text-align: center;
        border: none;
        background: white;
        width: 100%;
    }

    .sosconf-header__menu-icon {
        transition: all .2s ease-in-out;
        position: relative;
        left: -20%;
        box-sizing: content-box;
        width: 20px;
        height: 4px;
        border-top: 4px solid rgb(1, 191, 144);
        border-bottom: 4px solid rgb(1, 191, 144);
        background: rgb(1, 191, 144);
        padding: 4px 0;
        background-clip:content-box;
    }

    .sosconf-header__menu-icon--vertical {
        transition: all .2s ease-in-out;
        transform: rotateZ(90deg);
        position: relative;
        left: -20%;
        width: 20px;
        height: 4px;
        border-top: 4px solid rgb(1, 191, 144);
        border-bottom: 4px solid rgb(1, 191, 144);
        background: rgb(1, 191, 144);
        padding: 4px 0;
        background-clip:content-box;
        box-sizing: content-box;
    }

    .sosconf-header-mobile__button-group-buttons {
        transition: all .5s ease;
    }

    .sosconf-header-mobile__button-group span:nth-child(2) {
        display: inline-block;
        transition: all .2s;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color:transparent transparent white;
        position: relative;
    }

    .sosconf-header-mobile__button-group-buttons span {
        color: black;
    }
}