.sosconf-home__buttons .sosconf-footer__middle-facebook {
    background: url("../images/homeIcon/Facebook.png");
    background-size: contain;
}

.sosconf-home__buttons .sosconf-footer__middle-twitter {
    background: url("../images/homeIcon/Twitter.png");
    background-size: contain;
}

.sosconf-home__buttons .sosconf-footer__middle-telegram {
    background: url("../images/homeIcon/Telegram.png");
    background-size: contain;
}

.sosconf-home__buttons .sosconf-footer__middle-youtube {
    background: url("../images/homeIcon/Youtube.png");
    background-size: contain;
}

.sosconf-home__buttons .sosconf-footer__middle-mail {
    background: url("../images/homeIcon/Mail.png");
    background-size: contain;
}

.sosconf-home__buttons .sosconf-footer__middle-button {
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 1050px) {
    .sosconf-home__wrap {
        min-height: 800px;
    }

    .sosconf-home__buttons {
        display: flex;
    }
    
    .sosconf-home__title {
        /* padding-top: 20vh; */
        text-align: center;
        color: black;
    }
    
    .sosconf-home__title--span {
        height: 1px;
        width: 350px;
        background-color: black;
        margin: 0 auto;
    }
    
    .sosconf-home__title--up {
        font-size: 65px;
        position: relative;
        bottom: 5px;
        line-height: 107px;
        margin-top: 40px;
    }

    .sosconf-home__news--content p {
        font-weight: 300;
        margin-top: 10px;
    }
    
    .sosconf-home__title--down {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
    }
    
    .sosconf-home__position {
        margin-top: 60px;
    }
    .sosconf-home__buttons {
        
    }
    
    .sosconf-home__button {
        border: none;
        background: white;
        border-radius: 25px;
        width: 200px;
        font-size: 20px;
        color: rgb(1, 191, 144);
        height: 50px;
        margin-right: 20px;
    }
    
    .sosconf-home__button:hover {
        transition: all .3s;
        transform: scale(1.1)
    }
    
    .sosconf-home__button--black {
        border: none;
        display: inline-block;
        background: black;
        border-radius: 25px;
        color: white;
        text-decoration: none;
        line-height: 40px;
        font-size: 20px;
        width: 120px;
        height: 40px;
        margin-right: 20px;
    }
    
    .sosconf-home__button--black:hover {
        transition: all .3s;
        transform: scale(1.1)
    }

    .sosconf-home__news{
        /* margin-top: 350px; */
        padding: 50px 0;
        width: 100%;
        color: rgba(0,0,0,0.8);
        font-weight: bold;
        text-align: left;
    }

    .sosconf-home__news--container{
        width: 60%;
        margin: auto;
        position: relative;
        background: white;
        padding: 0 20px;
        box-shadow: 2px 4px 5px rgb(161, 161, 161);
    }

    .sosconf-home__news--head{
        position: absolute;
        left: 20px;
        top: 30px;
        font-size: 14px;
    }

    .sosconf-home__news--more{
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 14px;
        cursor: pointer;
    }

    .sosconf-home__news--span{
        height: 5px;
        width: 60px;
        margin: 30px auto;
        background-color: black;
    }

    .sosconf-home__news--block{
        height: 50px;
    }


    .sosconf-home__news--title{
        margin-top: 3px;
        color:black;
        text-align: center;
        font-size: 36px;
    }

    .sosconf-home__news--image{
        width: 100%;
        height: 400px;
        margin-top: 30px;
    }

    .sosconf-home__news--image img {
        width: 100%;
        height: 400px;
    }

    .sosconf-home__news--summary{
        margin-top: 10px;
        font-size: 20px;
    }
    .sosconf-home__news--hr{
        height: 2px;
        width: 100%;
        margin: 30px 0;
        background-color: rgba(0,0,0,0.8);
    }
    .sosconf-home__news--content{
        font-size: 15px;
        padding: 0 0 30px 0;
        line-height: 30px;
    }

    .sosconf-home__readAll{
        display: none;
    }

    .sosconf-home__news--content ul {
        padding-left: 20px;
    }

    .sosconf-home__date-flag {
        font-size: 24px;
        line-height: 44px;
    }

    .sosconf-home__position-flag {
        font-size: 24px;
    }

    .sosconf-home__title--down {
        font-size: 18px;
        font-weight: 400;
    }

    .sosconf-home__position {
        margin-top: 60px;
        font-weight: 600;
    }

    .sosconf-home__position-flag {
        margin-top: 18px;
        font-weight: 600;
        line-height: 44px;
    }

    .sosconf-home__position h2 {
        font-weight: 300;
        line-height: 50px;
    }

    .sosconf-home__buttons {
        margin-top: 50px;
    }

    .sosconf-home__follow-us {
        margin-top: 30px;
        margin-bottom: 39px;
        font-size: 20px;
    }

    .sosconf-home__follow-us::before {
        content:'';
        display:inline-block;
        position: relative;
        top: -5px;
        width: 100px;
        margin-right: 5px;
        height: 1px;
        background: rgb(147, 147, 147);
    }

    .sosconf-home__follow-us::after {
        content:' ';
        display:inline-block;
        margin-left: 5px;
        position: relative;
        top: -5px;
        width: 100px;
        height: 1px;
        background: rgb(147, 147, 147);
    }

    .sosconf-home__button--know-more {
        width: 200px;
        margin-top: 90px;
    }

    .sosconf-home__button--know-more span{
        font-size: 10px;
    }

    .sosconf-home__position--position {
        margin-bottom: 10px;
    }

    .sosconf-home__mail-list {
        width:200px;
        height:40px;
        background:rgba(223,61,145,1);
        border-radius:50px;
        position: relative;
        color: white;
        line-height: 40px;
        top: 25px;
        padding-left: 30px;
    }

    .sosconf-home__mail-list a {
        position: absolute;
        left: 0;
        top: -25px;
    }

    .sosconf-home__mail-list:hover > a {
        transform: translateX(110px) rotate(90deg);
        transition: all .5s;
    }

    .sosconf-body .sosconf-footer__middle-button-wrapper {
        width: 180px;
    }

    .sosconf-home__buttons--mobile {
        display: none;
    }

} @media screen and (max-width: 1050px) {
    .sosconf-home__buttons--mobile {
        display: block;
    }

    .sosconf-home__buttons--pc {
        display: none;
    }

    .sosconf-home__news--content ul {
        padding-left: 20px;
    }

    .sosconf-home__date-flag {
        font-size: 24px;
    }

    .sosconf-home__position-flag {
        font-size: 24px;
    }

    .sosconf-home__title--down {
        font-size: 18px;
        font-weight: 400;
    }

    .sosconf-home__title--span {
        height: 1px;
        width: 70%;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .sosconf-home__position {
        margin-top: 30px;
        font-weight: 600;
    }

    .sosconf-home__position-flag {
        margin-top: 30px;
        font-weight: 600;
    }

    .sosconf-home__position h2 {
        font-weight: 300;
        font-size: 12px;
    }

    .sosconf-home__buttons {
        margin-top: 50px;
    }

    .sosconf-home__follow-us {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        color: black;
    }

    .sosconf-home__button--know-more {
        width: 200px;
    }

    .sosconf-home__button--know-more span{
        font-size: 10px;
    }

    .sosconf-home__position--position {
        margin-bottom: 10px;
    }

    .sosconf-home__wrap .sosconf__card {
        background: transparent;
        box-shadow: none; 
        width: 80% !important; 
        margin-top: 50px !important;
    }

    .sosconf-home__wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        min-height: 800px;
    }

    .sosconf-home__button {
        border: none;
        margin: 0 auto;
        display: block;
        background: white;
        border-radius: 25px;
        width: 200px;
        font-size: 20px;
        color: rgb(1, 191, 144);
        height: 50px;
    }
    
    .sosconf-home__button:hover {
        transition: all .3s;
        transform: scale(1.1)
    }
    
    .sosconf-home__button--black {
        display: inline-block;
        text-decoration: none;
        line-height: 50px;
        margin: 0 auto;
        border: none;
        display: block;
        background: black;
        border-radius: 25px;
        color: white;
        font-size: 20px;
        width: 200px;
        height: 50px;
        margin-top: 20px;
    }

    .sosconf-home__button--black span {
        text-decoration: none;
    }
    
    .sosconf-home__button--black:hover {
        transition: all .3s;
        transform: scale(1.1)
    }

    .sosconf-home__news{
        padding: 50px 0;
        width: 100%;
        color: rgba(0,0,0,0.8);
        font-weight: bold;
        text-align: left;
    }

    .sosconf-home__news--container{
        width: 80vw;
        margin: auto;
        position: relative;
        background: white;
        padding: 0 4vw;
        overflow: hidden;
        height: 100vh;
    }

    .sosconf-home__news--head{
        position: absolute;
        left: 20px;
        top: 30px;
        font-size: 14px;
    }

    .sosconf-home__news--more{
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 14px;
        cursor: pointer;
    }

    .sosconf-home__news--span{
        height: 5px;
        width: 60px;
        margin: 30px auto;
        background-color: black;
    }

    .sosconf-home__news--block{
        height: 50px;
    }

    .sosconf-home__news--title{
        margin-top: 3px;
        color:black;
        text-align: center;
        font-size: 36px;
    }

    .sosconf-home__news--image{
        width: 100%;
        height: 200px;
        margin-top: 30px;
        background: darkslategray;
    }

    .sosconf-home__news--summary{
        margin-top: 10px;
        font-size: 20px;
    }

    .sosconf-home__news--hr{
        height: 2px;
        width: 100%;
        margin: 30px 0;
        background-color: rgba(0,0,0,0.8);
    }

    .sosconf-home__news--content{
        font-size: 15px;
        padding: 0 0 30px 0;
        line-height: 30px;
    }

    .sosconf-home__title {
        /* position: relative;
        top: 100px; */
        color: white;
    }

    .sosconf-home__position {
        padding-top: 10%;
        padding-bottom: 20%;
        color: white;
    }

    .sosconf-header-mobile__button-group-buttons  button{

    }


    .sosconf-home__readAll{
        position: absolute;
        width: 80vw;
        bottom: 1px;
        height: 50px;
        background-color: rgba(255,255,255,0.95);
    }

    .sosconf-home__readAll--button{
        margin: 10px auto;
        width: 40%;
        height: 30px;
        line-height: 30px;
        background-color: white;
        border: 2px #040744 solid;
        border-radius: 2px;
        color: #040744;
        text-align: center;
    }

    .sosconf-home__news--content ul {
        padding-left: 20px;
    }

    .sosconf-home__news--image img {
        width: 100%;
        height: 200px;
    }
}