    .sosconf-sponsor__wrapper h2{
        margin-top: 10px;
        text-align: center;
    }

    .sosconf-sponsor__wrapper h3{
        margin-top: 10px;
    }

    .sosconf-sponsor__wrapper h3:nth-of-type(3){
        color: rgb(43, 190, 255)
    }

    .sosconf-sponsor__wrapper h3:nth-of-type(4){
        color: rgb(252, 177, 38)
    }

    .sosconf-sponsor__wrapper h3:nth-of-type(5){
        color: rgb(188, 188, 188)
    }

    .sosconf-sponsor__wrapper h3:nth-of-type(6){
        color: rgb(87, 167, 117)
    }

    /* .sosconf-sponsor__wrapper p:nth-last-child(1){
        text-align: center;
    }

    .sosconf-sponsor__wrapper p:nth-last-child(2){
        text-align: center;
    }

    .sosconf-sponsor__wrapper p:nth-last-child(3){
        text-align: center;
    } */

    .sosconf-sponsor__wrapper blockquote p {
        text-align: left !important;
    }

    .sosconf-sponsor__wrapper{
        width: 60%;
        margin: 80px auto;
        padding: 30px;
        background-color: white;
        font-weight: bold;
        position: relative;
        z-index: 0;
        box-shadow: 2px 4px 4px rgb(150, 150, 150);
    }

    .sosconf-sponsor__wrapper a{
        text-decoration: none;
        outline: none;
        font-size: 14px;
        color: rgba(0,0,0,0.8);
    }

    .sosconf-sponsor__back{
        position: absolute;
        left: 30px;
        top: 30px;
    }

    .sosconf-sponsor__back::before{
        content: '\279C';
        display: inline-block;
        transform: rotateY(-180deg);
    }

    .sosconf-sponsor__more{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .sosconf-sponsor__more::after{
        content: '\279c';
    }

    .sosconf-sponsor__title{
        margin:50px auto  0 auto;
        text-align: center;
        color: black;
    }

    .sosconf-sponsor__span{
        margin: 40px auto 20px auto;
        height: 5px;
        width: 80px;
        background-color: black;
    }

    .sosconf-sponsor__sub{
        text-align: center;
        margin-bottom: 50px;
    }

    .sosconf-sponsor__content p,ul{
        margin-top: 10px;
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        line-height: 25px;
    }

    blockquote p {
        margin-top: 3px !important;
    }

    .sosconf-sponsor__content li{
        list-style-position: inside;
    }
    .sosconf-sponsor__readAll {
        display: none;
    }

@media screen and (max-width: 1050px) {

    .sosconf-sponsor__wrapper{
        width: 80vw;
        padding: 4vw;
        height: 100vh;
        overflow: hidden;
    }

    .sosconf-sponsor__readAll{
        display: block;
        position: absolute;
        width: 80vw;
        bottom: 1px;
        height: 50px;
        background-color: rgba(255,255,255,0.95);
    }

    .sosconf-sponsor__readAll--button{
        margin: 10px auto;
        width: 40%;
        height: 30px;
        line-height: 30px;
        background-color: white;
        border: 2px #040744 solid;
        border-radius: 2px;
        color: #040744;
        text-align: center;
    }
}