.sosconf-volunteer__wrap {
    min-height: 800px;
    display: flex;
    flex-direction: column;
}

.sosconf-volunteer__text {
    text-align: center;
    line-height: 150px;
    color: black;
    font-size: 30px;
}

.sosconf__sponsor-group--english h2{
    font-size: 20px;
}

@media screen and (max-width: 1050px) {
    .sosconf-volunteer__card-group {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1050px) {
    .sosconf-volunteer__card-group {
        display: flex;
        flex-direction: row;
    }
}

.sosconf-volunteer__card {
    flex: 1;
    margin: 30px;
    background: white;
    height: 700px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #7b7b7b;
    border: none;
    display: flex;
    flex-direction: column;
}

.sosconf-volunteer__card-header {
    line-height: 80px;
    color: black;
    margin: 0 auto;
    text-align: left;
    font-size: 24px;
    border-bottom: 1px solid rgb(71, 71, 71);
    width: 90%;
}

.sosconf-volunteer__button-group a{
    display: inline-block;
    line-height: 60px;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    background: rgb(0, 233, 155);
    text-decoration: none;
    text-align: center;
    color: white;
}

.sosconf-volunteer__button-group {
    text-align: center;
    margin-bottom: 30px;
}

.sosconf-volunteer__card--none {
    visibility: hidden;
    height: 0;
}

.sosconf-volunteer__card-text {
    padding: 30px;
}

.sosconf-volunteer__card-text ul {
    padding-bottom: 10px;
    margin-top: 5px;
    padding-left: 20px;
}

.sosconf-volunteer__card-text--big {
    padding-left: 50px;
    font-size: 20px;
    height: 850px;
}

.sosconf-volunteer__card-image {
    height: 400px;
    width: 260px;
}

.sosconf-volunteer__button-group-span {
    color: grey;
}